*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(60deg, rgba(0, 0, 0, 0.938) 0 40%, rgba(0, 0, 0, 0.863) 
    40% 60%, rgba(0, 0, 0, 0.943) 60% 100%); 
    color: rgb(250, 248, 241);

}

header{
    display: flex;
    position: relative;
    width: 100%;
    margin:0px;
    justify-content: space-between;
    background-color: #191919;
}
.navBar{
    padding: 10px;
    margin: 20px;
}

.navBar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    margin: 20px;
    justify-content: space-between;
    box-sizing: border-box;
}

.navBar a:hover{
    color:  #191919;
    background-color: #ffff00;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    transition: .4s;
}
.logo{
    padding: 10px;
    margin: 10px;
}
 
.logo_img{
    width: 8em;
    height: 3em;
    filter: invert(1);
}

.container{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
   justify-content: space-between;
    min-height: 100vh;
    display: flex;
    width: 100%;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    background: #191919;

}
span{
    color: yellow;
}
.container video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.9;
}
.over{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #191919;
}
.over{
	mix-blend-mode: color-dodge;
}
.content{
    position:absolute;
    bottom: 170px;
    right: 600px;
}

.text{
    position: relative;
}

.text h1{
	font-size: 3.5em;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
}
p{
    margin: 10px 0 0 10px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text_p{
	font-size: 1.1em;
	margin: 20px 0 0 60px;
    padding: 10px;
	font-weight: 400;
	max-width: 100%;
}
 

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px 20px 50px;
    padding: 10px 20px 10px 50px;
    text-shadow: 2px;
    text-transform: capitalize;
    font-size: 80px;  
}


#why{
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    box-sizing: border-box;
}

.each-why{
    align-items: center;
    text-align: center;
    margin: 5px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    padding: 5px;
    border: 5px #ffff00 solid;
    border-radius: 10px;
    justify-content: space-between;
}

.each-why li{
    list-style: none;
}

h3{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
}

.inner{
    padding-top: 20px;
    background-color: #333; 
}

.header-skill{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}

.header-skill:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px; 
    background-color: yellow;
    border-radius: 2px;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;  
}
.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}
.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
} 
.skill-box:hover .skill-img{
    transform: translateY(-10px);
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}


.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: yellow;
    transition: .5s;
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: yellow;
    transition: .5s;
}
.skill-img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s; 
}

.skill-img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0; 
    width: 50%;
    height: 90px; 
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill-title h4{
    color: #fff;
    margin-top: 0.5rem;
}

.skill-icon{
    width: 50px;
    z-index: 2;
}


.client_section_wrapper{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.client_section{
    display: flex;
    width: 200px;
    margin-left: 70px;
    padding: 20px 0;
    border-radius: 8px;
    background-color: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.section_progress{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#191919 3.6deg, yellow 0deg); 
}

.section_progress::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
}

.progress_value{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #06001a;
}

.client_section_text{
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    color: #1a1818;
    text-transform: capitalize;
    text-align: center;
}

.client_section2{
    display: flex;
    width: 200px;
    margin-left: 70px;
    padding: 20px 0;
    border-radius: 8px;
    background-color: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.section_progress2{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#191919 3.6deg, yellow 0deg); 
}

.section_progress2::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
}

.progress_value2{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #191919;
}

.client_section_text2{
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    color: #1a1818;
    text-transform: capitalize;
    text-align: center;
}


.client_section3{
    display: flex;
    width: 200px;
    margin-left: 70px;
    padding: 20px 0;
    border-radius: 8px;
    background-color: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.section_progress3{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#191919 3.6deg, yellow 0deg); 
}

.section_progress3::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
}

.progress_value3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #06001a;
}

.client_section_text3{
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    color: #1a1818;
    text-transform: capitalize;
    text-align: center;
}
 #email_reach{
    width: 100%;
    height: 70vh;
    background: #06001a;
    display: flex;
    align-items: center;
    justify-content: center;
 }

form{
    background: #191919;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 70%;
    max-width: 500px;
    border-radius: 10px;
}

form h3{
    color: #fff;
    font-weight: 800;
    margin-bottom: 15px;
}

form input, form textarea{
    border: 0;
    margin: 7px 0;
    padding: 10px;
    outline: none;
    background: #f5f5f5;
    font-size: 12px;
}

form button{
    padding: 10px;
    background: yellow ;
    color: #191919;
    font-size: 14px ;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100px;
    margin: 15px auto 0;
    border-radius: 30px;
}

.social_account{
	position: relative;
	right: 20px;
	bottom: 20px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.social_account li img{
    height: 70px;
    width: 70px;
}

.social_account li{
	list-style: none;
}

.social_account li a{
	display: inline-block;
	margin-right: 20px;
	transform: scale(0.5);
	transition: 0.5s;
    filter: invert(1);
}

.social_account li a:hover{
	transform: scale(0.5) translateY(-15px);
}


footer{
    max-width: 100%;
    margin: 10% 10px 10px 10px;
    padding: 5px;
    text-align: center;
    align-content: center;
}

.year-launch p{
    margin-top: 20px;
    color: yellow;
    bottom: 30px;
    font-size: 14px;
}
 
@media screen and (max-width:700px){
    .navBar{
        padding: 4px;
        margin: 8px;
        font-size: 10px;
    }
    .navBar a{
        padding: 2px;
        margin: 4px 6px;
    }
    .navBar a:hover{
        padding: 4px;
        margin: 10px;
    }
    .logo{
        padding: 2px;
        margin: 4px;
    }
    .logo_img{
        width: 4em;
        height: 2em;
        filter: invert(1);
    }
    .container{
        min-height: 70vh;
    }
    .content{
        position:absolute;
        bottom: 20px;
        right: 40px;
    }
    
    .text{
        position: relative;
    }
    
    .text h1{
        font-size: 2em;
        font-weight: 200;
        text-transform: uppercase;
    }
    h1{
        margin: 20px 20px 0px 10px;
        padding: 10px 20px 0px 10px; 
    }
    .text_p{
        font-size: 0.7em;
        margin: 9px 0 0 50px;
        padding: 5px;
    }

    .client_section_wrapper{
        margin: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .client_section{
        margin-bottom: 10px;
         
    }
    .section_progress{
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: conic-gradient(#191919 3.6deg, yellow 0deg); 
    }
    .section_progress::before{
        content: "";
        position: absolute;
        height: 50%;
        width: 50%;
        border-radius: 50%;
        background-color: #fff;
    }
    
    .progress_value{
        position: relative;
        font-size: 20px;
        font-weight: 300;
        color: #06001a;
    }
    
    .client_section_text{
        margin: 5px;
        padding: 5px;
        font-size: 20px;
        font-weight: 300;
        color: #1a1818;
        text-transform: capitalize;
        text-align: center;
    }
    .client_section2{
        margin-bottom: 10px;
        padding: 20px 0;
    }
    .section_progress2{
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: conic-gradient(#191919 3.6deg, yellow 0deg); 
    }
    .section_progress2::before{
        content: "";
        position: absolute;
        height: 50%;
        width: 50%;
        border-radius: 50%;
        background-color: #fff;
    }
    .progress_value2{
        position: relative;
        font-size: 20px;
        font-weight: 300;
        color: #06001a;
    }
    .client_section_text2{
        margin: 5px;
        padding: 5px;
        font-size: 20px;
        font-weight: 300;
        color: #1a1818;
        text-transform: capitalize;
        text-align: center;
    }
    .client_section3{
        margin-bottom: 10px;
        padding: 20px 0;
    }
    .section_progress3{
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: conic-gradient(#191919 3.6deg, yellow 0deg); 
    }
    .section_progress3::before{
        content: "";
        position: absolute;
        height: 50%;
        width: 50%;
        border-radius: 50%;
        background-color: #fff;
    }
    .progress_value3{
        position: relative;
        font-size: 20px;
        font-weight: 300;
        color: #06001a;
    }
    .client_section_text3{
        margin: 5px;
        padding: 5px;
        font-size: 20px;
        font-weight: 300;
        color: #1a1818;
        text-transform: capitalize;
        text-align: center;
    }
    .skill-container{
        grid-template-columns: repeat(1, 1fr);  
    }
    .social_account{
        display: flex;
        left: 10px;
        bottom: 5px;
        justify-content: center;
    }
    
    .social_account li img{
        height: 50px;
        width: 50px;
    }
    .year-launch p{
        font-size: 8px;
    }
    
}
 